<div class="row-fluid">
    <% @events.each_with_index do |event, index| %>
      <% if index == 0 %>
        <div class="span12 okevents large-scale clearfix" style="background-image: url(<%= event.photo %>)">
      <% else %>
        <div class="span3 okevents" style="background-image: url(<%= event.photo %>)">
      <% end %>
        <%= link_to event, { class: 'event-info' } do %>
          <div class="event-date">
            <span class="month">
              <%= event.event_month event.date.month %>
            </span>
            <span class="day">
              <%= event.date.day %>
            </span>
          </div>
          <div class="title">
            <%= event.title %>
          </div>
          <% link_to 'Edit', edit_event_path(event) %>
          <% link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
</div>

<%= link_to 'New Event', new_event_path %>
