<section class="row-fluid">
    <% @events.each_with_index do |event, index| %>
      <%= link_to event, { class: 'event-show' } do %>
        <% if index == 0 %>
          <article class="span12 okevents large-scale clearfix" style="background-image: url(<%= event.photo(:large) %>)">
            <h1 class="logo">Do This Okay</h1>
        <% else %>
          <article class="span3 okevents" style="background-image: url(<%= event.photo(:standard) %>)">
        <% end %>
            <div class="event-info">
              <div class="event-date">
                <span class="month">
                  <%= event.event_month event.date.month %>
                </span>
                <span class="day">
                  <%= event.date.day %>
                </span>
              </div>
              <div class="title">
                <%= event.title %>
              </div>
            </div>
          </article>
      <% end %>
    <% end %>
</section>

