<style type="text/css">
  body {
    background: transparent url(<%= @event.photo %>) no-repeat 0 0 fixed;
    background-size: 100% 100%;
    min-height: 100%;
    height: auto;
  }
</style>


<div class="event">
  <h2 class="event-title"> <%= @event.title %> </h2>
  <div class="event-date">
    <%= @event.event_month @event.date.month %>
    <%= @event.date.day %>,
    <%= @event.date.year %>
    <% if @event.time %>
      / <%= @event.event_time @event.time %>
    <% end %>
    <div class="event-location">
      at <%= @event.location %>
    </div>
  </div><!--//event-date-->

  <% share_url = URI::escape(request.original_url) %>
  <% share_text = URI::escape(@event.title) %>
  <ul class="social-icon">
    <li><a href="https://www.facebook.com/sharer/sharer.php?u=<%=share_url%>">Share on Facebook</a></li>
    <li><a href="http://twitter.com/share?text=<%= share_text %>&url=<%= share_url %>">Share  on Twitter</a></li>
  </ul>

  <div class="event-description">
    <h3 class="about-event">About This Event</h3>
    <%= @event.description.html_safe %>
    <% if @event.website %>
      <%= @event.website %>
    <% end %>
  </div><!--//event-description-->


</div><!--//event-->


<div class="bottom-nav-bar">
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_event_path(@event) %> |
  <% end %>
    <%= link_to 'Back', events_path %>
</div>
