<style type="text/css">
  body {
    background: transparent url(<%= @event.photo %>) no-repeat 0 0 fixed;
    background-size: 100% 100%;
    min-height: 100%;
    height: 100%;
  }
</style>


<div class="event">
  <h2 class="event-title"> <%= @event.title %> </h2>
  <div class="event-date">
    <%= @event.event_month @event.date.month %>
    <%= @event.date.day %>
    <%= @event.date.year %>
    <% if @event.time %>
      / <%= @event.event_time @event.time %>
    <% end %>
    <div class="event-location">
      at <%= @event.location %>
    </div>
  </div><!--//event-date-->

  <ul class="social-icon">
    <li><a href="#">Add to Bookmark</a></li>
    <li><a href="#">Share to Faceboo</a></li>
    <li><a href="#">Share to Twitter</a></li>
  </ul>

  <div class="event-description">
    <h3>About This Event</h3>
    <%= @event.description %>
    <% if @event.website %>
      <%= @event.website %>
    <% end %>
  </div><!--//event-description-->


</div><!--//event-->



<% if user_signed_in? %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
  <%= link_to 'Back', events_path %>
