<!DOCTYPE html>
<html>
<head>
  <title>Okevents</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<% @body_class = controller_name.parameterize.to_s+'-'+action_name.to_s %>
<% signedinClass = "signedin" if user_signed_in? %>


<body class="<%=@body_class%> <%= signedinClass %>">
<div class="body-container">
  <%= render 'shared/user_nav' %>
<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<div class="contentContainer">
<%= yield %>

<%= render 'shared/footer' %>
</div><!--//container-->
</div><!--//body container -->

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
